{%extends 'base.html'%}
{%block title%}Admin Dashboard{%endblock%}
{%block content%}
<div>
    <table id="inventoryTable" border="1" cellpadding="10">
        <tr>
            <th colspan="5">Master Inventory</th> 
        </tr>
        <tr>
            <th>Id</th>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
            <th>Listing price</th>
            <th>Edit</th>
        </tr>
    </table>
</div>
<div id="delete" style="display: none;">
    <span onclick="closedelete()">X</span><br><br>
    <label>
    <input type="radio" name="choice" value="Yes">
        Yes
    </label>
    <label>
    <input type="radio" name="choice" value="NO">
        No
    </label><br>
    <input type="submit">
</div>
<div id="edit">
        <span onclick="closeedit()">X</span>        
        <h3>update Item</h3> 
        <form id="editItemForm">
            <input type="text" id="updateName" placeholder="Item Name" required><br>
            <input type="number" id="updateQuantity" placeholder="Quantity" required><br>
            <input type="number" id="updatePurchase" step="0.01" placeholder="Purchase Price" required><br>
            <input type="number" id="updateListing" step="0.01" placeholder="Listing Price" required><br>
            <input type="submit" value="Save Item">
        </form>
</div>
<div style="display: none;">
<button onclick="open()">+ Add New Item</button>
<div id="add">   
     <div>        
        <span onclick="close()">X</span>        
        <h3>Add to Inventory</h3>        
        <form id="addItemForm">
            <input type="text" id="newName" placeholder="Item Name" required><br>
            <input type="number" id="newQuantity" placeholder="Quantity" required><br>
            <input type="number" id="newPurchase" step="0.01" placeholder="Purchase Price" required><br>
            <input type="number" id="newListing" step="0.01" placeholder="Listing Price" required><br>
            <input type="submit" value="Save Item">
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='admin.js') }}"></script>
{%endblock%}