{%extends 'base.html'%}
{%block title%}Admin Dashboard{%endblock%}
{%block content%}
<div id="summaryCards" class="dashboard-summaries">
    <div class="card">
        <h3>Total Revenue</h3>
        <p id="totalRevenue">₹0</p>
    </div>
    <div class="card">
        <h3>Items Sold</h3>
        <p id="totalSold">0</p>
    </div>
    <div class="card">
        <h3>Low Stock Alerts</h3>
        <p id="lowStockCount">0</p>
    </div>
</div>

<div id="searchContainer">
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" placeholder="Search Inventory by Name...">
</div>

<div>
    <table id="inventoryTable" border="1">
        <tr>
            <th colspan="6">Master Inventory</th> 
        </tr>
        <tr>
            <th>Id</th>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
            <th>Listing price</th>
            <th>Actions</th>
        </tr>
    </table>
</div>

<div id="logsContainer">
    <h3>Recent Sales Logs</h3>
    <table id="logsTable" border="1">
        <tr>
            <th>Worker Name</th>
            <th>Item Sold</th>
            <th>Quantity</th>
            <th>Sale Price</th>
        </tr>
    </table>
</div>
<div id="delete" style="display: none;">
    <span onclick="closedelete()">X</span><br><br>
    <label>
    <input type="radio" name="choice" value="Yes">
        Yes
    </label>
    <label>
    <input type="radio" name="choice" value="NO">
        No
    </label><br>
    <input type="submit" id="deleteSubmit">
</div>
<div id="edit" style="display: none;">
        <span onclick="closeedit()">X</span>        
        <h3>update Item</h3> 
        <form id="editItemForm">
            <input type="text" id="updateName" placeholder="Item Name" required><br>
            <input type="number" id="updateQuantity" placeholder="Quantity" required><br>
            <input type="number" id="updatePurchase" step="0.01" placeholder="Purchase Price" required><br>
            <input type="number" id="updateListing" step="0.01" placeholder="Listing Price" required><br>
            <input type="submit" value="Save Item">
        </form>
</div>
<div>
<button onclick="openAdd()">+ Add New Item</button>
<div id="add" style="display: none;">   
     <div>        
        <span onclick="closeAdd()">X</span>        
        <h3>Add to Inventory</h3>        
        <form id="addItemForm">
            <input type="text" id="newName" placeholder="Item Name" required><br>
            <input type="number" id="newQuantity" placeholder="Quantity" required><br>
            <input type="number" id="newPurchase" step="0.01" placeholder="Purchase Price" required><br>
            <input type="number" id="newListing" step="0.01" placeholder="Listing Price" required><br>
            <input type="submit" value="Save Item">
        </form>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='admin.js') }}"></script>
{%endblock%}