{%extends base.html%}
{%block title%}Employee Dashbaord{%endblock%}
{%block content%}
<div>
    <table id="inventoryTable" border="1" cellpadding="10">
        <tr>
            <th colspan="6">Master Inventory</th> 
        </tr>
        <tr>
            <th>Id</th>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
            <th>Listing price</th>
            <th>Actions</th>
        </tr>
    </table>
</div>
<script src="employee.js"></script>
{%endblock%}
