{%extends "base.html"%}
{%block title%}Signup Portal{%endblock%}
{%block content%}
<form method="POST" action="url_for('signup')">
    <label for=""></label>
    <input type="text" name="username" placeholder="username" required>
    <input type="text" name="password" placeholder="Create a passsword" required>
        <select name="role" id="role" required>
        <option value="admin">Owner</option>
        <option value="employee">employee</option>
    </select>
    <label for="key">*if you registered as admin enter the admin key</label>
    <input type="password" name="key" placeholder="Key">
</form>
{%endblock%}
